# Environment files
.env
.venv/
uv.lock

# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
logs/

# IDE and editor settings
.idea/
.vscode/

# Notebooks
notebook/

# Test cache
.pytest_cache/

# Miscellaneous files
ab.json
test.py
chat.html
.DS_Store   


qdrant_storage/
