fastapi
fastapi[standard]
langchain
langchain-core
langchain-community
langchain-openai
langgraph
pydantic
pydantic-settings
langgraph-checkpoint-mongodb
pymongo


## prosgrase
langgraph-checkpoint-postgres
psycopg[binary,pool]
asyncpg

gunicorn
pytest
pytest-asyncio
bs4
elasticsearch
qdrant-client
langchain-qdrant
apache-airflow
more-itertools
celery[redis]
celery
pandas
sqlalchemy
aiosqlite
python-dateutil
langchain-text-splitters
python-docx